<div class="register-container">
    <h2>Create Your Account</h2>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input 
          type="text" 
          id="name" 
          formControlName="name"
          [class.is-invalid]="name?.invalid && (name?.touched || name?.dirty)"
        >
        <div *ngIf="name?.invalid && (name?.touched || name?.dirty)" class="error-message">
          <div *ngIf="name?.errors?.['required']">Name is required</div>
          <div *ngIf="name?.errors?.['minlength']">
            Name must be at least 3 characters
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email Address</label>
        <input 
          type="email" 
          id="email" 
          formControlName="email"
          [class.is-invalid]="email?.invalid && (email?.touched || email?.dirty)"
        >
        <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="error-message">
          <div *ngIf="email?.errors?.['required']">Email is required</div>
          <div *ngIf="email?.errors?.['email']">Please enter a valid email</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password"
          [class.is-invalid]="password?.invalid && (password?.touched || password?.dirty)"
        >
        <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="error-message">
          <div *ngIf="password?.errors?.['required']">Password is required</div>
          <div *ngIf="password?.errors?.['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="password?.errors?.['pattern']">
            Password must contain at least one uppercase letter, one lowercase letter, and one number
          </div>
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
  
      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="registerForm.invalid || isLoading"
      >
        <span *ngIf="!isLoading">Register</span>
        <span *ngIf="isLoading">
          <i class="fa fa-spinner fa-spin"></i> Processing...
        </span>
      </button>
    </form>
  
    <div class="login-link">
      Already have an account? <a routerLink="/login">Sign in</a>
    </div>
  </div>